---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';

---

<nav>
    <header>
        <Hamburger />
        <Navigation />
    </header>
</nav>